@import url('variables.css');


/* ================= AFFICHAGE POSITIONNÉ ================= */
#entry1 {
  top: 15%;
  left: 68%;
}
#entry2 {
  top: 40%;
  left: 40%;
}
#entry3 {
  top: 55%;
  left: 25%;
}
#entry4 {
  top: 65%;
  left: 10%;
}

#entry5 {
  top: 10%;
  left: 45%;
}
#entry6 {
  top: 30%;
  left: 15%;
}
#entry7 {
  top: 45%;
  left: 40%;
}
#entry8 {
  top: 62%;
  left: 24%;
}


/* ================= BULLES D'INFO ================= */
.entry {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
}

.label-entry {
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.icon {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #333;
  transform: rotate(-5deg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-image: url('../images/panneau.png');
  background-size: cover;
  cursor: pointer;
}

.info-bubble {
  position: absolute;
  top: 0;
  left: 100%;
  background: white;
  border: 2px solid #333;
  padding: 16px;
  border-radius: 10px;
  font-size: 15px;
  min-width: 450px;
  line-height: 1.6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none;
  pointer-events: none;
}

.map-container .info-bubble {
  width: 600px;
}

.entry .info-bubble {
  top: 100%;
  left: 50%; /* centré */
  transform: translate(-50%, 20px); 
}

.elevation-container .entry:last-child .info-bubble {
  transform: translate(-25%, 20px); 
}

/* ================= SOFT SKILLS & BADGES ================= */
.soft-skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  background: #f4f5ee;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  position: relative;
}

.badge {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  gap: 8px;
  cursor: pointer;
}

.badge-icon {
  width: 150px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.badge-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 4px 0;
}

.soft-info-bubble {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: white;
  border: 3px solid #00B18A;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  width: 150px;
  height: 150px;
  text-align: center;
  z-index: 9999;
}

/* ================= HARD SKILLS ================= */
.hard-skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.hard-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hard-icon {
  width: 30px;
  cursor: pointer;
}

.hard-content {
  display: none;
  margin-top: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #36a575;
  }

.hard-content p {
  margin: 6px 0;
  line-height: 1.5;
}
.visible {
  display: block!important;
}


/* ================= OTHER ================= */

.other-container {
  display: flex;
  margin-bottom: 60px;
}

.other-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.other-icon {
  width: 35px;
  height: auto;
  border-radius: 4px;
}
