@media (prefers-color-scheme: dark) {
  
  .layout{
    background-color: #02161F;
  }
  .label, #welcome-section{
    color:white;
  }
  .block, .soft-skills-container{
     background-color:#12455A;
     color:white;
  }
  .soft-info-bubble{
     border: 3px solid #36a575;
    color:#4a4a4a;
  }
  .elevation-container::before,
  .map-container::before {
  opacity:0.8;
  }
}
